{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
<h1>Hello!</h1>

<h2>Who am I?</h2>
    <p>My name is Evan Westcomb, I'm 19 years old and I am a student at Kalamazoo Valley Community College. 
        I am currently studying for an Associate's Degree in Computer Science, and I hope to pursue a career in software development once I am finished with my degree. 
        I currently know C#, Python, and HTML/CSS, and have made many projects using these languages.
        Someday, I'll find myself in a tech job that will help me expand my programming skills and let me collaborate with others.
        If you want to see what I have created so far, click on the "Projects" link to go to the projects page.</p>
{% endblock content %}
