{% extends "base.html" %}

{% block content %}
<h1>Evan Westcomb</h1>

<h2>Who am I?</h2>
    <p>My name is Evan Westcomb, I'm 19 years old and I am a student at Kalamazoo Valley Community College. 
        I am currently studying for an Associate's Degree in Computer Science, and I hope to pursue a career in software development once I am finished with my degree. 
        I currently know C#, Python, and HTML/CSS, and have made many projects using these languages (see projects page for more info).</p>
{% endblock content %}
