<!-- 
Name: Evan Westcomb
Class: CIS 218
Date: 1/28/2026
-->

{% extends "base.html" %}

{% block title %}Projects{% endblock title %}

{% block content %}
<h1>My Projects</h1>
    <h2>Coffee Shop Order Program</h2>
        <p>A program that simulates an ordering system for a wholesale coffee press company.
            Users input information about the company they are ordering for, before selecting the size, material, and quantity of coffee presses they want to order, 
            along with 5 optional items they can include in the order.
            The program then calculates the line item based on the user's selections, before displaying the full order in the style of a receipt.</p>
        <p>This program was built using these tools:</p>
            <ul>
                <li>C# (for program logic)</li>
                <li>Visual Studio 2022 (for program GUI)</li>
            </ul>

    <h2>Personal Website</h2>
        <p>This website you are viewing right now is one of my projects.
            It started off as a simple website with static pages and some basic CSS, but grew into something you see here.</p>
        <p>This website was built with these tools:</p>
            <ul>
                <li>Django (for basic framework)</li>
                <li>Python (for customizing views and URL endpoints)</li>
                <li>HTML (for website text)</li>
                <li>Bootstrap (for CSS styling)</li>
            </ul>
    <h2>Assignment 2</h2>
        <p>*Insert description of Assignment 2 here*</p>
    <h2>Assignment 3</h2>
        <p>*Insert description of Assignment 3 here*</p>
    <h2>Assignment 4</h2>
        <p>*Insert description of Assignment 4 here*</p>
    <h2>Assignment 5</h2>
        <p>*Insert description of Assignment 5 here*</p>
{% endblock content %}