{% extends "base.html" %}

{% block title %}Projects{% endblock title %}

{% block content %}
<h1>My Projects</h1>
    <h2>Personal Website</h2>
        <p>This website you are viewing right now is one of my projects.
            It started off as a simple website with static pages and some basic CSS, but grew into something you see here.
            This website was built with these tools:</p>
            <ul>
                <li>Django (for basic framework)</li>
                <li>Python (for customizing views and URL endpoints)</li>
                <li>HTML (for website text)</li>
                <li>Bootstrap (for CSS styling)</li>
            </ul>
        <p>Below is a screenshot of the first version of this website.</p>
    <h2>Assignment 2</h2>
        <p>*Insert description of Assignment 2 here*</p>
    <h2>Assignment 3</h2>
        <p>*Insert description of Assignment 3 here*</p>
    <h2>Assignment 4</h2>
        <p>*Insert description of Assignment 4 here*</p>
    <h2>Assignment 5</h2>
        <p>*Insert description of Assignment 5 here*</p>
{% endblock content %}